.logo-login {
  max-width: 187px;
  max-height: 127px;
}

.logo-header {
  max-width: 72px;
  max-height: 36px;
  display: block;
  margin: 0 auto;
}

.user-post-img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}