.constrain-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.constrain-container::after {
  content: '';
  margin-left: 20px;
}


.constrain-container-form {
  width: 100%;
  height: 100%;
  max-width: 240px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
}

.constrain-content {
  width: 100%;
  max-width: 493px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.text-break {
  word-break: break-word;
  overflow-wrap: break-word ;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.justify-left {
  justify-content: flex-start;
  margin-left: 10px;
}
.justify-center {
  justify-content: center;
}

.justify-right {
  justify-content: flex-start;
  margin-right: 10px;
}

.justify-sb {
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.error-message {
  display: none;
}

.error-message:empty {
  display: none;
}

// Width & heights

.width-responsive {
  width: 100%;
}

// Margin-top

.mt-0 {
  margin-top: 0px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 20px;
}

.mt-4 {
  margin-top: 30px;
}

// Margin-bottom

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 30px;
}

// Margin-right

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 20px;
}

.mr-4 {
  margin-right: 30px;
}

// Margin-left

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 20px;
}

.ml-4 {
  margin-left: 30px;
}

// Margin

.ma-0 {
  margin: 0px;
}

// Padding
.pad-0 {
  padding: 0px;
}