@import "variables";

// Utilities (margin, padding, opacity, constrains, etc)
@import "utilities";

// Image styling
@import "images";

@import "./components/button";
@import "./components/input";

@import "./components/card";

html,
body {
  height: 100%;
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0px;
}

h3 {
  font-size: 12px;
}
ul {
  list-style: none;
}

hr {
  border: 1px solid rgba(128, 128, 128, 0.261);
  width: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: $background-gradient;
}

.page-header {
  background-color: $primary;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page-footer {
  background-color: $white;
  height: 50px;
  margin-top: 40px;
}

.page-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


.feed-info-box {
  background-color: $lightgrey;
}

.post-link {
  text-decoration: none;
  color: inherit;
}